*{
    margin: 5px;
    box-sizing: border-box;
    
}
.logo{
    color: coral;
    text-align: left;
    margin-bottom: 10px;
}

.Navbar{
    display: grid; 
    grid-template-columns: 30% 30% 30%;  
    margin-bottom: 50px;
    margin-left: 100px;
    text-align: center;
    font-size: x-large;
    padding-left: 500px;
}
 a{
    text-decoration: none;
    color:  linen;
}

.head{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMDcVnWgDBuZLgEwcLhEObyiodUaigj5I9eEx7wWjjP3Zjsd0kzj0k9YPVI0-ULGGA_Jw&usqp=CAU);
    padding: 10px;
}
.description{
    background-color: linen;
    padding:10px 10px 80px;
}
.desc{
    text-align: center ;
    padding: 20px;
}
.desc1{
    text-align: left;
    display: grid;
    grid-template-columns: 60% 40%;
   margin-bottom: 20px;
}
h2{
    color: coral;
    font-size: xx-large;
}
img{
    padding-left: 50px;
}

button{
    padding: 10px;
    border: 2px solid ;
    border-radius: 20px;
    font-size: larger;
    color: rgb(197, 184, 209);
    background-color: rgb(28, 75, 163);
}
.button{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.socials{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
}